@model Core.Entities.User

            <td>@Model.Id</td>
            <td><img src="@Model.Avatar" alt="username" /></td>
            <td>@Model.Name</td>
            <td>@@@Model.Email</td>
            <td>@Model.CreatedAt</td>
            <td></td>

