<h1>Список стюардесс</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>ФИО</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of stewardesses">
            <div [class.selected]="s === selectedStewardess"
            (click)="onSelect(s)">
                <td>{{s.id}}</td>
                <td>{{s.Name}} {{s.SurName}}</td>
            </div>
            <td>
                    <button class="btn btn-sm btn-primary" (click)="editStewardess(s)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(s)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>
<input type="button" value="Добавить стюардессу" class="btn btn-default" (click)="add()" />
      
<app-stewardess-item [stewardess]="selectedStewardess" [details]="details"></app-stewardess-item>