<h1>Список рейсов</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Пункт отправления</td>
            <td>Пункт назначения</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of flights">
                <div [class.selected]="f === selectedFlight"
                (click)="onSelect(f)">
                        <td>{{f?.id}}</td>
                        <td>{{f?.DeparturePoint}}</td>
                        <td>{{f?.Destination}}</td>
                </div>
                  <td>
                        <button class="btn btn-sm btn-primary" (click)="editFlight(f)">Изменить</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(f)">Удалить</button>
                  </td>
        </tr>
    </tbody>
</table>
<input type="button" value="Добавить рейс" class="btn btn-default" (click)="add()" />
      
<app-flight-item [flight]="selectedFlight" [details]="details"></app-flight-item>

<a [routerLink]="['departures']" class="nav-link">Все вылеты</a>
<a [routerLink]="['tickets']" class="nav-link">Все билеты</a>

<router-outlet></router-outlet>