@model IEnumerable<Core.Entities.User>

<h2>All users</h2>


<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
@{ 
    foreach (var user in @Model)
    {
        foreach (var post in user.Posts)
        {
            @Html.Partial("_UserPost", new Tuple<Core.Entities.User, Core.Entities.Post>(user, post));
        }
    }
}















@*<section class="functionalityPanel">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Posts</th>
                <th>Todos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                
                @Html.Partial("_User", item)
                
            }
        </tbody>
    </table>
</section>*@
