@model Core.Entities.User

<h2>User @Model.Name</h2>

<section class="functionalityPanel">
    <table class="table" title="@Model.Name">
        <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Posts</th>
                <th>Todos</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_User", @Model)
        </tbody>
    </table>
    </section>  
